<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <th:block th:fragment="filterForm(categories, volumes, type)">
        <form class="form" id="productFilter"
              th:action="@{__${@productController.PRODUCT_TABLE_PATH}__(orderType=${type})}"
              method="post">
            <div sec:authorize="hasRole(T(org.agard.InventoryManagement.config.UserRole).ADMIN.authority)"
                 th:if="${type} == 'product'"
                 class="row justify-content-center">
                <div class="col-auto">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="true" name="deleted" id="filterDeleted">
                        <label class="form-check-label" for="filterDeleted"> Filter Deleted Products </label>
                    </div>
                </div>
            </div>
            <div class="row g-3 justify-content-center">
                <div class="col-md-6 col-lg-auto ">
                    <div class="input-group">
                    <span class="input-group-text p-1">
                        Categories
                    </span>
                        <select class="form-select" id="filterCategory" name="category" size="3" multiple>
                            <option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.name}">option</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 col-lg-auto">
                    <div class="input-group">
                    <span class="input-group-text p-1">
                        Unit Volumes
                    </span>
                        <select class="form-select" id="filterVolume" name="volume" size="3" multiple>
                            <option th:each="vol : ${volumes}" th:value="${vol.id}" th:text="${vol.description}">option</option>
                        </select>
                    </div>
                </div>
                <div class="col col-lg-auto">
                    <div class="form-floating">
                        <input class="form-control" id="filterName" type="text" name="name" placeholder="Product Name">
                        <label for="filterName">Name</label>
                    </div>
                </div>
                <div class="col-3 col-lg-2">
                    <div class="form-floating">
                        <input class="form-control" id="perPage" name="pageSize" type="number" placeholder="20" value="20"
                               min="1" max="50">
                        <label for="perPage"># Per Page</label>
                    </div>
                </div>
                <div class="col-auto d-flex flex-column justify-content-center">
                    <div class="d-flex justify-content-center mb-1"><button class="btn btn-primary" type="submit">Filter</button></div>
                    <div class="d-flex justify-content-center"><button class="btn btn-warning" type="reset">Reset</button></div>
                </div>
            </div>
        </form>
    </th:block>

    <th:block th:fragment="productTable">

        <div th:if="${tableError}" class="row justify-content-center">
            <div class="col-auto">
                <div class="alert alert-danger" role="alert" id="tableErrorDiv">
                    <span th:text="${tableError}"></span>
                </div>
            </div>
        </div>

        <div class="row justify-content-center px-2">
            <div class="col-md d-flex overflow-scroll rounded-4 px-0">
                <table class="table table-responsive table-striped">
                    <thead class="table-dark">
                    <tr>
                        <th>Item Code</th>
                        <th>UPC</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Volume</th>
                        <th>Cost</th>
                        <th>Price</th>
                        <th>Unit Amount</th>
                        <th>Stock</th>
                        <th>Last Modified</th>
                        <th:block th:if="${orderType}">
                            <th></th>
                        </th:block>
                        <th:block th:unless="${orderType}">
                            <th th:unless="${deletedQuery} == 'true'"
                                sec:authorize="hasRole(T(org.agard.InventoryManagement.config.UserRole).EDITOR.authority)"></th>
                            <th sec:authorize="hasRole(T(org.agard.InventoryManagement.config.UserRole).ADMIN.authority)"></th>
                        </th:block>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="prod : ${productPage.getContent()}" class="product-row">
                        <td th:text="${prod.itemCode}">item code value</td>
                        <td th:text="${prod.upc}">upc value</td>
                        <td th:text="${prod.name}">name value</td>
                        <td th:text="${prod.category} == null? |None| : ${prod.category.name}">category name</td>
                        <td th:text="${prod.volume} == null? |None| : ${prod.volume.description}">volume description</td>
                        <td th:text="|$${prod.cost}|">cost value</td>
                        <td th:text="|$${prod.price}|">price value</td>
                        <td th:text="${prod.unitSize}">unit amount</td>
                        <td th:text="${prod.stock}">stock value</td>
                        <td th:text="${#temporals.format(prod.lastModifiedDate, 'dd-MM-yyyy, HH:mm')}">date created</td>
                        <th:block th:if="${orderType}">
                            <td th:if="${orderType} == 'out'">
                                <button class="btn btn-outline-primary text-nowrap orderAddBtn"
                                    th:link="@{__${@outgoingOrderController.ORDER_ADD_FORM_ITEM}__(code=${prod.itemCode})}">
                                    Add to Order
                                </button>
                            </td>
                            <td th:if="${orderType} == 'in'">
                                <button class="btn btn-outline-primary text-nowrap orderAddBtn"
                                        th:link="@{__${@receivingOrderController.ORDER_ADD_FORM_ITEM}__(code=${prod.itemCode})}">
                                    Add to Order
                                </button>
                            </td>
                        </th:block>
                        <th:block th:unless="${orderType}">
                            <td th:unless="${prod.deleted}"
                                sec:authorize="hasRole(T(org.agard.InventoryManagement.config.UserRole).EDITOR.authority)">
                                <a class="updateBtn btn btn-outline-primary"
                                   th:link="@{__${@productController.PRODUCT_UPDATE_PATH}__(id=${prod.id})}">
                                    Update</a>
                            </td>
                            <td sec:authorize="hasRole(T(org.agard.InventoryManagement.config.UserRole).ADMIN.authority)">
                                <a th:unless="${prod.deleted}"
                                   class="deleteBtn btn btn-outline-danger"
                                   th:link="@{__${@productController.PRODUCT_DELETE_PATH}__(
                                                                        id=${prod.id},
                                                                        name=${nameQuery},
                                                                        category=${categoriesQuery},
                                                                        volume=${volumesQuery},
                                                                        pageNumber=${productPage.getNumber()},
                                                                        pageSize=${productPage.getSize()})}">
                                    Delete</a>
                                <a th:if="${prod.deleted}"
                                   class="activateBtn btn btn-outline-warning"
                                   th:link="@{__${@productController.PRODUCT_REACTIVATE_PATH}__(
                                                                        id=${prod.id},
                                                                        name=${nameQuery},
                                                                        category=${categoriesQuery},
                                                                        volume=${volumesQuery},
                                                                        pageNumber=${productPage.getNumber()},
                                                                        pageSize=${productPage.getSize()})}">
                                    Activate</a>
                            </td>
                        </th:block>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row justify-content-center flex-column">
            <div class="col">
                <nav th:with="url = ${deletedQuery}? @{__${@productController.PRODUCT_TABLE_PATH}__(deleted=${deletedQuery})} : ${@productController.PRODUCT_TABLE_PATH}">
                    <ul class="pagination justify-content-center mb-0">
                        <li class="page-item"
                            th:classappend="${productPage.hasPrevious()} == false ? |disabled|">
                            <a class="page-link btn rounded-start rounded-end-0" id="previousPage"
                               th:link="@{__${url}__(
                                name=${nameQuery},
                                category=${categoriesQuery},
                                volume=${volumesQuery},
                                pageNumber=${productPage.getNumber()} - 1,
                                pageSize=${productPage.getSize()},
                                orderType=${orderType}
                                )}">
                                Previous
                            </a>
                        </li>
                        <li class="page-item"
                            th:classappend="${productPage.hasNext()} == false ? |disabled|">
                            <a class="page-link btn rounded-start-0 rounded-end" id="nextPage"
                               th:link="@{__${url}__(
                                name=${nameQuery},
                                category=${categoriesQuery},
                                volume=${volumesQuery},
                                pageNumber=${productPage.getNumber()} + 1,
                                pageSize=${productPage.getSize()},
                                orderType=${orderType}
                                )}">
                                Next
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col d-flex justify-content-center">
                <small th:text="|page | + ${productPage.getNumber() + 1} + | of | +  ${productPage.getTotalPages()}"></small>
            </div>
        </div>
    </th:block>
</body>
</html>