<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav th:fragment="navbar(nowActive)" class="navbar navbar-expand-md bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand text-info-subtle p-2" th:href="${@productController.PRODUCT_PATH}">
                Inventory Dashboard
            </a>

            <button sec:authorize="hasRole('ROLE_USER')" class="navbar-toggler me-auto" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarContent"
                    aria-controls="navbarContent" aria-expanded="true">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div sec:authorize="hasRole('ROLE_USER')" class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav">
                    <li class="nav-item m-2 p-1 border border-success-subtle rounded-3 d-flex justify-content-center">
                        <a th:class="nav-link"
                           th:classappend="${nowActive} == 'Products'? |active|"
                           th:href="${@productController.PRODUCT_PATH}">
                            Products</a>
                    </li>

                    <li class="nav-item m-2 p-1 border border-success-subtle rounded-3 d-flex justify-content-center">
                        <a th:class="nav-link"
                           th:classappend="${nowActive} == 'Orders'? |active|"
                           th:href="${@categoryController.ATTRIBUTE_PATH}">
                            Orders</a>
                    </li>

                    <li sec:authorize="hasRole('ROLE_EDITOR')"
                        class="nav-item m-2 p-1 border border-success-subtle rounded-3 d-flex justify-content-center">
                        <a th:class="nav-link"
                           th:classappend="${nowActive} == 'Attributes'? |active|"
                           th:href="${@categoryController.ATTRIBUTE_PATH}">
                            Attributes</a>
                    </li>

                    <li sec:authorize="hasRole('ROLE_ADMIN')"
                        class="nav-item m-2 p-1 border border-success-subtle rounded-3 d-flex justify-content-center">
                        <a th:class="nav-link"
                           th:classappend="${nowActive} == 'Users'? |active|"
                           th:href="${@categoryController.ATTRIBUTE_PATH}">
                            Users</a>
                    </li>
                </ul>
            </div>
            <div sec:authorize="isAuthenticated()" class="p-1 ms-auto d-flex align-items-center">
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-primary">Logout: <span sec:authentication="name"></span></button>
                </form>
            </div>
        </div>
    </nav>
</body>
</html>