<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Categories</title>
</head>
<body>
  <h2>Product Category Table</h2>
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Number of Products</th>
      <th>Creation Date</th>
    </tr>
    <tr th:each="cat : ${categories}" class="category-row">
      <td th:text="${cat.id}">ID value</td>
      <td th:text="${cat.name}">name value</td>
      <td th:text="${cat.products.size()}">number of products</td>
      <td th:text="${cat.createdDate}">date created</td>
      <td sec:authorize="hasRole('ROLE_EDITOR')"><a th:href="@{/categories/update(id=${cat.id})}">Update</a></td>
      <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/categories/delete(id=${cat.id})}">Delete</a></td>
    </tr>
  </table>
</body>
</html>