<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="~{fragments/commonHead.html :: commonHead}"></th:block>
  <title>Product Categories</title>
</head>
<body>
  <div th:replace="~{fragments/navigation.html :: navbar('Categories')}"></div>

  <div class="container">

    <div class="row justify-content-center my-4">
      <div class="col d-flex justify-content-center">
        <h2>Product Category Table</h2>
      </div>
    </div>

    <hr class="border border-primary rounded">

    <div class="row mb-3">
      <div class="col">
        <div class="row justify-content-center my-2">
          <div class="col-sm-4 d-flex justify-content-evenly">
            <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#formCollapse"
                    th:aria-expanded="${category.id} != null" aria-controls="formCollapse"
                    th:text="${category.id} == null ? |Create Category| : |Update Category|">
              Create or Update Category
            </button>
            <a class="btn btn-outline-success"
               th:if="${category.id} != null" th:href="@{/categories}">
              Clear Update
            </a>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-sm-5">
            <div class="collapse p-1 bg-primary-subtle rounded-3"
                 th:classappend="${category.id} != null ? |show|"
                 id="formCollapse">
              <div th:replace="~{fragments/category_update_form.html :: updateForm(${category})}"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md d-flex overflow-auto">
        <table class="table table-responsive">
          <thead class="table-dark">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Number of Products</th>
            <th>Creation Date</th>
            <th></th>
            <th sec:authorize="hasRole('ROLE_ADMIN')"></th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="cat : ${categories}" class="category-row">
            <td th:text="${cat.id}">ID value</td>
            <td th:text="${cat.name}">name value</td>
            <td th:text="${cat.products.size()}">number of products</td>
            <td th:text="${cat.createdDate}">date created</td>
            <td>
              <a class="btn btn-outline-primary"
                 th:href="@{/categories(id=${cat.id})}">Update</a></td>
            <td sec:authorize="hasRole('ROLE_ADMIN')">
              <a class="btn btn-outline-danger"
                 th:href="@{/categories/delete(id=${cat.id})}">Delete</a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <th:block th:replace="~{fragments/commonHead.html :: commonScripts}"></th:block>

</body>
</html>