<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="~{fragments/commonHead.html :: commonHead}"></th:block>
    <title>Error</title>
</head>
<body>
  <th:block th:replace="~{fragments/navigation.html :: navbar(nowActive='Error')}"></th:block>

  <h2>An Error Occurred in the Application</h2>
  <p>Please allow us some time to fix this!</p>
  <br/>
  <h2 id="errorTitle" th:text="${errorTitle}"></h2>
<!--  <h3 id="status" th:text="|${httpStatus} -> ${httpStatus.reasonPhrase}|"></h3>-->
  <div id="errorList" th:each="err : ${errorMessageList}">
    <p th:text="${err}">error message</p>
  </div>
  <br/>
  <a th:href="@{/}">Back to Home Page</a>


</body>
</html>