<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
</head>
<body>
  <h1>Product Table</h1>
  <div sec:authorize="hasRole('ROLE_EDITOR')">
    <p><a th:href="@{/products/update}">Create New Product</a></p>
  </div>
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Cost</th>
      <th>Price</th>
      <th>Stock</th>
      <th>Category</th>
      <th>Creation Date</th>
    </tr>
    <tr th:each="prod : ${products}" class="product-row">
      <td th:text="${prod.id}">id value</td>
      <td th:text="${prod.name}">name value</td>
      <td th:text="|$${prod.cost}|">cost value</td>
      <td th:text="|$${prod.price}|">price value</td>
      <td th:text="${prod.stock}">stock value</td>
      <td th:text="${prod.category} == null? |None| : ${prod.category.name}">category name</td>
      <td th:text="${prod.createdDate}">date created</td>
      <td sec:authorize="hasRole('ROLE_EDITOR')"><a th:href="@{/products/update(id=${prod.id})}">Update</a></td>
      <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/products/delete(id=${prod.id})}">Delete</a></td>
    </tr>
  </table>
  <div>
    <a th:if="${hasNext}"
       th:href="@{/products(name=${nameQuery},
                            pageNumber=${pageNumber} + 1,
                            pageSize=${pageSize})}">
      Next Page
    </a>
    <a th:if="${hasPrevious}"
       th:href="@{/products(name=${nameQuery},
                            pageNumber=${pageNumber} - 1,
                            pageSize=${pageSize})}">
      Previous Page
    </a>
  </div>

</body>
</html>