<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<th:block th:fragment="categoryTable">

    <div th:if="${tableError}" class="row justify-content-center">
        <div class="col-auto">
            <div class="alert alert-danger" role="alert" id="tableErrorDiv">
                <span th:text="${tableError}"></span>
            </div>
        </div>
    </div>

    <div class="row justify-content-center px-2">
        <div class="col-md d-flex overflow-scroll rounded-4 px-0">
            <table class="table table-responsive table-striped">
                <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Number of Products</th>
                    <th>Creation Date</th>
                    <th th:unless="${deletedQuery} == 'true'"></th>
                    <th sec:authorize="hasRole(T(org.agard.InventoryManagement.config.UserRole).ADMIN.authority)"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cat : ${categoryPage.getContent()}" class="category-row">
                    <td th:text="${cat.id}">ID value</td>
                    <td th:text="${cat.name}">name value</td>
                    <td th:text="${cat.products.size()}">number of products</td>
                    <td th:text="${#temporals.format(cat.createdDate, 'dd-MM-yyyy, HH:mm')}">date created</td>
                    <td th:unless="${cat.deleted}">
                        <a class="btn btn-outline-primary catUpdateBtn"
                           th:link="@{__${@categoryController.CATEGORY_UPDATE_PATH}__(id=${cat.id})}">
                            Update
                        </a>
                    </td>
                    <td sec:authorize="hasRole(T(org.agard.InventoryManagement.config.UserRole).ADMIN.authority)">
                        <a th:unless="${cat.deleted}"
                           class="btn btn-outline-danger catDeleteBtn"
                           th:link="@{__${@categoryController.CATEGORY_DELETE_PATH}__(
                                                        id=${cat.id},
                                                        name=${nameQuery},
                                                        pageNumber=${categoryPage.getNumber()},
                                                        pageSize=${categoryPage.getSize()}
                                                        )}">
                            Delete
                        </a>
                        <a th:if="${cat.deleted}"
                           class="btn btn-outline-warning catActivateBtn"
                           th:link="@{__${@categoryController.CATEGORY_REACTIVATE_PATH}__(
                                                        id=${cat.id},
                                                        name=${nameQuery},
                                                        pageNumber=${categoryPage.getNumber()},
                                                        pageSize=${categoryPage.getSize()}
                                                        )}">
                            Activate
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row justify-content-center flex-column">
        <div class="col" th:link="${deletedQuery}">
            <nav th:with="url = ${deletedQuery}? @{__${@categoryController.CATEGORY_TABLE_PATH}__(deleted=${deletedQuery})} : @{__${@categoryController.CATEGORY_TABLE_PATH}__}">
                <ul class="pagination justify-content-center mb-0">
                    <li class="page-item"
                        th:classappend="${categoryPage.hasPrevious()} == false ? |disabled|">
                        <a class="page-link btn rounded-start rounded-end-0" id="catPreviousPage"
                           th:link="@{__${url}__(name=${nameQuery},
                                          pageNumber=${categoryPage.getNumber()} - 1,
                                          pageSize=${categoryPage.getSize()}
                                          )}">
                            Previous
                        </a>
                    </li>
                    <li class="page-item"
                        th:classappend="${categoryPage.hasNext()} == false ? |disabled|">
                        <a class="page-link btn rounded-start-0 rounded-end" id="catNextPage"
                           th:link="@{__${url}__(name=${nameQuery},
                                          pageNumber=${categoryPage.getNumber()} + 1,
                                          pageSize=${categoryPage.getSize()}
                                          )}">
                            Next
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col d-flex justify-content-center">
            <small th:text="|page | + ${categoryPage.getNumber() + 1} + | of | +  ${categoryPage.getTotalPages()}"></small>
        </div>
    </div>
</th:block>

</body>
</html>