<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<th:block th:fragment="volumeTable">

    <div th:if="${tableError}" class="row justify-content-center">
        <div class="col-auto">
            <div class="alert alert-danger" role="alert" id="tableErrorDiv">
                <span th:text="${tableError}"></span>
            </div>
        </div>
    </div>

    <div class="row justify-content-center px-2">
        <div class="col-md d-flex overflow-scroll rounded-4 px-0">
            <table class="table table-responsive table-striped">
                <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Description</th>
                    <th>Value Code</th>
                    <th>Number of Products</th>
                    <th>Creation Date</th>
                    <th th:unless="${deletedQuery} == 'true'"></th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="vol : ${volumePage.getContent()}" class="volume-row">
                    <td th:text="${vol.id}">ID value</td>
                    <td th:text="${vol.description}">description value</td>
                    <td th:text="${vol.valueCode}">code value</td>
                    <td th:text="${vol.products.size()}">number of products</td>
                    <td th:text="${#temporals.format(vol.createdDate, 'dd-MM-yyyy, HH:mm')}">date created</td>
                    <td th:unless="${vol.deleted}">
                        <a class="btn btn-outline-primary volUpdateBtn"
                           th:link="@{__${@volumeController.VOLUME_UPDATE_PATH}__(id=${vol.id})}">
                            Update
                        </a>
                    </td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')">
                        <a th:unless="${vol.deleted}"
                           class="btn btn-outline-danger volDeleteBtn"
                           th:link="@{__${@volumeController.VOLUME_DELETE_PATH}__(
                                                        id=${vol.id},
                                                        description=${descriptionQuery},
                                                        pageNumber=${volumePage.getNumber()},
                                                        pageSize=${volumePage.getSize()}
                                                        )}">
                            Delete
                        </a>
                        <a th:if="${vol.deleted}"
                           class="btn btn-outline-warning volActivateBtn"
                           th:link="@{__${@volumeController.VOLUME_REACTIVATE_PATH}__(
                                                        id=${vol.id},
                                                        description=${descriptionQuery},
                                                        pageNumber=${volumePage.getNumber()},
                                                        pageSize=${volumePage.getSize()}
                                                        )}">
                            Activate
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row justify-content-center flex-column">
        <div class="col">
            <nav th:with="url = @{__${@volumeController.VOLUME_TABLE_PATH}__}">
                <ul class="pagination justify-content-center mb-0">
                    <li class="page-item"
                        th:classappend="${volumePage.hasPrevious()} == false ? |disabled|">
                        <a class="page-link btn rounded-start rounded-end-0" id="volPreviousPage"
                           th:link="@{__${url}__(description=${descriptionQuery},
                                          pageNumber=${volumePage.getNumber()} - 1,
                                          pageSize=${volumePage.getSize()},
                                          deleted=${deletedQuery}
                                          )}">
                            Previous
                        </a>
                    </li>
                    <li class="page-item"
                        th:classappend="${volumePage.hasNext()} == false ? |disabled|">
                        <a class="page-link btn rounded-start-0 rounded-end" id="volNextPage"
                           th:link="@{__${url}__(description=${descriptionQuery},
                                          pageNumber=${volumePage.getNumber()} + 1,
                                          pageSize=${volumePage.getSize()},
                                          deleted=${deletedQuery}
                                          )}">
                            Next
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col d-flex justify-content-center">
            <small th:text="|page | + ${volumePage.getNumber() + 1} + | of | +  ${volumePage.getTotalPages()}"></small>
        </div>
    </div>
</th:block>





</body>
</html>